<!DOCTYPE html>
<html > 
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.button3 {
    border-radius: 10px;
    background-color:cornsilk !important;
    }
</style>
</head>
<body>
<div>
    <button class="button3" style="text-align: right;">
        Add
    </button>
</div>
<h2 style="color: black; text-align: center;">Harish Vishal drive access </h2>

<table style="width:100%;table-layout:fixed;border-collapse:separate !important;border-spacing:20px 40px; font-family:Helvetica, Arial, sans-serif; color:#333333; font-size:16px; line-height:24px; font-weight:100;" class="bodywrapcenter">
  <tr>
    <th>S No:</th>
    <th>Name</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>1</td>
    <td>w3schools</td>
    <td><a href="https://www.w3schools.com/html/html_links.asp">link</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Isaidub</td>
    <td><a href="https://isaidub3.co/">isaidub</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Torrent Glaxy</td>
    <td><a href="https://moon-knight-7089-tgx.calm-sunset-t15s.workers.dev/torrents.php?search=&nox=1">Torrent glaxy</a></td>
  </tr>
  <tr>
    <td>4</td>
    <td>1337x</td>
    <td><a href="https://small-smoke-7ee0-1337.calm-sunset-t15s.workers.dev/"> 1337X</a></td>
  </tr>
  <tr>
    <td>5</td>
    <td>EZ TV</td>
    <td><a href="https://small-silence-9e0e-ez-tv.calm-sunset-t15s.workers.dev/">Ez TV</a></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Tamil MV</td>
    <td><a href="https://wandering-leaf-bf3f-tmv.calm-sunset-t15s.workers.dev/tmv/foo/">Tamil Mv</a></td>
  </tr>
   <tr>
    <td>7</td>
    <td>Tamil Blasters</td>
    <td><a href="https://world-snowy-snow-8b1e.calm-sunset-t15s.workers.dev/-----https://www.1tamilblasters.site/">Tamil Blasters</a></td>
  </tr>
   <tr>
    <td>8</td>
    <td>Punisher movie Drive</td>
    <td><a href="https://cloud.puniisher.workers.dev/">Punisher movie Drive </a></td>
  </tr>
<tr>
    <td>8</td>
    <td>Punisher Adult movie Drive</td>
    <td><a href="https://adult.puniisher.workers.dev/">Punisher Adult movie Drive </a></td>
  </tr>
<tr>
    <td>9</td>
    <td>One  Drive</td>
    <td><a href="https://onedrive.aceml.eu.org/">One Drive </a></td>
  </tr>
  <tr>
    <td>10</td>
    <td>One  Drive</td>
    <td><a href="">One Drive </a></td>
  </tr>
<tr>
    <td>11</td>
    <td>4  Drive</td>
    <td><a href="https://ace-ml.eu.org/">4 Drive </a></td>
  </tr>
<tr>
    <td>12</td>
    <td>Bollywood drive</td>
    <td><a href="http://Bollywood.eu.org">Bollywood drive </a></td>
  </tr>
<tr>
    <td>13</td>
    <td>film4movie</td>
    <td><a href="http://film4movie.eu.org">film4movie </a></td>
  </tr>
<tr>
    <td>14</td>
    <td>dropbonx</td>
    <td><a href="https://dropbox.aceml.eu.org">dropbox </a></td>
  </tr>
<tr>
    <td>15</td>
    <td>Whole Server</td>
    <td><a href="https://gcp.apranet.eu.org/index.php">Whole Server </a></td>
  </tr>
<tr>
    <td>16</td>
    <td>Hash Hacker</td>
    <td><a href="https://google-drive-index.hashhackersapi.workers.dev">Hash Hacker </a></td>
  </tr>
  <tr>
    <td>17</td>
    <td>Abdulla drive</td>
    <td><a href="https://abdullah.al-noman.workers.dev/0:/">Abdulla drive </a></td>
  </tr>
  <tr>
    <td>17</td>
    <td>Vishal drive</td>
    <td><a href="https://abdullah.al-noman.workers.dev/0:/">Abdulla drive </a></td>
  </tr>
  <tr>
    <td>17</td>
    <td>New drive</td>
    <td><a href="https://abdullah.al-noman.workers.dev/0:/">Abdulla drive </a></td>
  </tr>

</table>

</body>
</html>

